<footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <%if user_signed_in?%>
                <%= link_to "Sign Out", "/users/sign_out", method: :delete%>
              <%else%>
              <li class="list-inline-item">
                <a href="/users/sign_in">Already A User?</a>
              </li>
               <li class="list-inline-item">
                <a href="/users/sign_up">Register</a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/Afzal7/syncrow/blob/master/README.md" target="_blank">How It Works?</a>
              </li>
              <%end%>

             
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>