
  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" title="Home"><%=image_tag'new_logo1.png', style:"    height: 160px;
"%></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1 style="margin-top: -74px;">
            SYNCROW
        </h1>

        <p class="tagline">
          A Sublime Text 3 Plugin
          <br>
          Create And Sync Your Snippets
          <br>
          Life's Better Now
        </p>
        <a class="btn btn-full" href="/users/sign_in" style="margin-top: -40px;">Try Now</a>
      </div>
    </div>

  </section>
