/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */



@import "bootstrap";

@import "style";

body{
	background-color: #514340;
}

.input-width{
	width: 218px;
}

.mb-50{
	margin-bottom: 50px;
}

.register{
  /* margin-left: 207px; */
  height: 200px;
  /*background-color: beige;*/
  /* vertical-align: middle; */
  text-align: center;
  margin-bottom: 40px;
  background-image: url("https://static.pexels.com/photos/257897/pexels-photo-257897.jpeg");
}

.reg-legend{
  padding-top: 70px;
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
}

.register:before {
  content: '';
  display: block;
  position: absolute;
  left: 16%;
  border: 19px solid transparent;
  border-top-color: #D9D9D9;
  top: 200px;
}

.reg-btn{
	margin-left:207px;
}

.labels{
  font-weight: bold;
  color: white;
}

